:root {
    --primary-color: #F3F3F3;
    --secondary-color: #181818;
}

html {
    font-size: 62.5%
}

.hide-mobile {
    display: none;
}

.hide-tablet {
    display: none;
}

@media only screen and (min-width: 1100px) {
    .hide-desktop {
        display: none;
    }
}

body {
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: normal;
}

.wrapper {
    margin: 2.5em;
}

/* N nav */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.8rem;
}

/* hero section */

section.hero {
    margin-top: 6.5em;
    text-align: center;
}

.leftCol h1,
p {
    margin: 0;
    padding: 0;
}

.leftCol h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6rem;
}

.subTitle {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    margin-top: 1.4em;
}

.subTitle p {
    font-size: 2.3rem;
}

.mainBtn {
    display: inline-block;
    margin-top: 6.5em;
    padding: 1.4em 8.2em 1.4em 8.2em;
    background-color: var(--primary-color);
    border: 2px solid #111111;
    box-shadow: 5px 5px 0px #F3F3F3;
    border-radius: 5px;
}

.mainBtn a {
    text-align: center;
    color: var(--secondary-color);
    font-size: 2.5rem;
}

.rightCol img {
    height: 270px;
    margin-top: 7.3em;
}


.middle {
    font-size: 2.3rem;
    text-align: center;
    margin-top: 4em;
}

/* UX Case Studies */

aside.caseStudies {
    margin-top: 3em;
}

aside.caseStudies {
    padding: 0;
    font-size: 3.8rem;
}

section.uxCards {
    margin: 2em 0em;
    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.card {
    /* margin: 6em 0; */
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 5px 5px 0px #F3F3F3;
    border-radius: 5px;
}

.uxCards p {
    color: var(--secondary-color);
}

.cardHeader {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 3em 2em;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.eureka {
    color: var(--primary-color)!important;
    font-weight: bold;
    font-size: 4rem;
}

.cardText {
    display: flex;
    flex-direction: column;
    padding: 1.7em;
    font-size: 2.1rem;
}

.cardText p.line {
    padding: 1.3em 0;
    align-items: center;
    text-align: center;
}

.coming {
    text-align: center;
}

.topCard {
    margin-top: 4em;
}

.botCard {
    margin-bottom: 4em;
}

/* Coding projects */

.codingCards {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.codingProjects p {
    margin-top: 3em;
    font-size: 3.4rem;
}

.portfolioTitle {
    font-size: 3.2rem;
    padding: 1em 1em;
    font-weight: bold;
    letter-spacing: 0.075em;
    color: var(--secondary-color);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color)) 1;
}

.codeCards {
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 5px 5px 0px #F3F3F3;
    border-radius: 5px;
}

.codingBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.7em;
    font-size: 2.1rem;
}

.codeDescription {
    color: var(--secondary-color);
    font-size: 2.1rem;
}

.sourceCode {
    display: flex;
    justify-content: end;
    padding-top: 2em;
    gap: .2em;
}

.sourceCode p {
    color: var(--secondary-color)
}

.bottomRow {
    display: flex;
    justify-content: space-between;
}

.website a {
    display: flex;
    gap: .4em;
    padding-top: 2em;
}

.textWebsite {
    color: var(--secondary-color);
}

.sourceCode a {
    display: flex;
    gap: .2em;
}

.designTitle {
    color: #5E85F8;
}

.recallTitle {
    color: #7E00FD;
}

/* final message */

section.finalConnect {
    display: flex;
    flex-direction: column;
    margin-top: 12em;
    gap: 4em;
    text-align: center;
}

.small {
    font-size: 1.6rem;
}

.big {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: .02em;
}

/* footer */

footer {
    margin-top: 12em;
    border-top: 1px solid var(--primary-color)
}

.footer {
    padding: 1em 1em;
    display: flex;
    gap: .3em;
    font-size: 1.6rem;
}