.navbar-nav {
  /* margin: auto; */
  /* margin-top: 1%; */
  font-family: 'Red Hat Display', sans-serif;
}

.bordbot {
  border-bottom: 1px solid black;
}

.tuck {
  font-family: 'Red Hat Display', sans-serif;
}

.float {
  float: right;
}

.hover:hover {
  text-decoration: line-through;
  text-decoration-color: solid black;
  text-decoration-thickness: 1px;
}

.aesthetics {
  height: 456px;
  object-fit: cover;
}

@media only screen and (max-width: 425px) {
  .space {
    margin-top: 3% !important;
  }
}

.pics {
  margin-top: 4%;
}

#info {
  text-align: center;
  margin-top: 4%;
  font-family: 'Red Hat Display', sans-serif;
}

.under {
  margin-top: 4%;
}

.socials {
  color: solid black !important;
  justify-content: center;
}

#favoc {
  height: 5px;
}

/* Later additions */
/* .whatever {
  flex-grow: 3;
}

.whatever2 {
  flex-grow: 2;
} */